/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
  --text-shadow-heading:       1px 1px 5px rgba(0, 0, 0, 0.2);
  --text-shadow-body:          1px 1px 3px rgba(0, 0, 0, 0.2);
  --text-shadow-other:         1px 1px 2px rgba(0, 0, 0, 0.4);

  --input-bg:                  linear-gradient(to top, #80dcc9, #ffffffc2);
  --input-box-shadow:          1px 1px 5px rgba(0, 0, 0, 0.25);
  --input-focus-box-shadow:    0px 0px 20px #80dcc9;

  --form-submit-btn-bg:        linear-gradient(to top, #012e39, #004457);
  
  --foreground-color-alt-1:   #5ad8ff;
  --foreground-color-alt-2:   #00fff9;

  --search-btn-bg:              linear-gradient(to top, #1cdfb5 0%, #80dcc9 100%);

  --grid-cat-content-bg:        linear-gradient(163deg, rgb(0 0 0 / 47%) 0%, rgb(0 0 0 / 69%) 100%);
  --grid-item-content-bg:       linear-gradient(163deg, rgb(186 218 255 / 47%) 0%, rgb(255 255 255 / 69%) 100%);

  --menu-link-hover-bg:         linear-gradient(199deg, #1ad3af, #067b7e);

  --desktop-device-min-width:   800px;
  --desktop-content-max-width:  1200px;
  --desktop-content-width:      100vw;
}

/* Common Elements */
html {
  font-size: 16.6px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #000c15;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: var(--foreground-color-alt-2);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 4rem 1rem;
  background: linear-gradient(45deg, #004360, #1cdfb5);
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
}

h1,
h2, 
h3, 
h4, 
h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  text-shadow: var(--text-shadow-heading);
  margin: 0;
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

p {
  text-shadow: var(--text-shadow-body);
}

p.breadcrumbs {
}

p.breadcrumbs a {
  text-decoration: none;
}

div#PageTitle {
  display: flex;
  flex-direction: column-reverse;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 5;
}

main::before {
  content: ' ';
  width: 50vw;
  height: 50vh;
  transform: rotate(145deg);
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, transparent 100%);
  position: fixed;
  top: -25vh;
  box-shadow: 10px 10px 100px rgb(1 117 123);
  z-index: 0;
}

main > * {
  position: relative;
  z-index: 5;
}

@media only screen and (min-width: 1024px) {
  main {
    padding: 4rem 5vw;
  }
}

.hidden {
  display: none;
}

/**
 * Predictive Inputs & Options
 */

div.predictive-options {
  position: absolute;
  z-index: 2;
  border: 1px solid;
  background: rgba(0,0,0,0.8);
  margin-top: 4rem;
  font-size: 0.9rem;
}

div.predictive-options > div {
  cursor: pointer;
  padding: 0 0.5rem;
  line-height: 2;
  border-bottom: 1px solid;
}

div.predictive-options > div:hover {
  background-color: #004457;
}

/**
 * Forms
 */
form input[type=input],
form input[type=search],
form input[type=password],
form input[type=number],
form select,
form textarea {
  line-height: 2rem;
  border-radius: 0.25rem;
  border: 0;
  margin: 0.5rem 0 0;
  background: var(--input-bg);
  padding: 0 0.5rem;
  box-shadow: var(--input-box-shadow);
}

form select {
  padding: 0.5rem;
}

form input[type=input]:focus,
form input[type=search]:focus,
form input[type=password]:focus,
form input[type=number]:focus,
form select:focus,
form textarea:focus,
form button:focus {
  outline: none;
  box-shadow: var(--input-focus-box-shadow);
  border: 2px solid var(--foreground-color-alt);
}

form input[type=input][readonly=readonly] {
  background: transparent;
  color: rgba(255,255,255,0.85);
  font-family:'Courier New', Courier, monospace;
  box-shadow: none;
  padding: 0;
}

form button {
  line-height: 1.8rem;
  border-radius: 0.25rem;
  border: 0;
  margin: 0.5rem 0 0;
  background: var(--form-submit-btn-bg);
  padding: 0 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

#SearchInputContainer {
  backdrop-filter: brightness(0.8) blur(50px);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem 3rem;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  border: 1px solid rgba(255,255,255,0.5);
  box-sizing: border-box;
  margin-bottom: 1rem;
}

#SearchInputContainer form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  flex: 1;
}

#SearchInputContainer form button {
  margin: 0;
  padding: 0.5rem 2rem;
  background: var(--search-btn-bg);
  text-shadow: var(--text-shadow-body);
  cursor: pointer;
  transition: all 333ms;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  box-sizing: border-box;
}

#SearchInputContainer form button:hover {
  background: linear-gradient(to top, #5ad8ff 0%, var(--foreground-color-alt) 100%);
}

#SearchInput {
  margin: 0;
  flex: 1;
  padding: 0 1rem;
  margin-right: 0.5rem;
  text-align: center;
}

#SearchInput:focus {
  border: 2px solid var(--foreground-color-alt);
}

div.component-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 20rem;
  max-width: 30vw;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
  backdrop-filter: brightness(0.85) blur(10px);
  border-top: 1px solid rgb(19 47 43 / 23%);
  border-bottom: 1px solid rgb(137 193 185 / 42%);
}

div.component-form.alt-form {
  padding: 0;
}

div.component-form.alt-form label {
  text-align: left;
  font-size: 0.8rem;
  padding: 0 0.75rem;
  color: #1cdfb5;
}

div.component-form pre {
  font-size: 0.7rem;
  text-shadow: var(--text-shadow-other);
  overflow: scroll;
  backdrop-filter: brightness(0.5);
  padding: 0.75rem;
}

div.component-form div.component-form-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0.5rem 0;
  position: relative;
}

div.component-form div.component-form-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 2.5rem;
}

div.component-form div.component-form-buttons > * {
  cursor: pointer;
}

/**
 * Tables
 */

table {
  border-spacing: 0;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 0.5rem;
  overflow: hidden;
  min-width: 80%;
  backdrop-filter: brightness(0.85) blur(10px);
}

table th,
table td {
  padding: 0.6rem;
  text-align: center;
}

table thead tr th.wide,
table tbody tr th.wide,
table tbody tr td.wide {
  min-width: 30%; 
  text-align: left;
}

table th:last-of-type,
table td:last-of-type {
  text-align: right;
}

table tbody th:nth-of-type(0),
table tbody td:nth-of-type(0),
table tbody th:nth-of-type(1),
table tbody td:nth-of-type(1),
table thead tr th:nth-of-type(0),
table thead tr th:nth-of-type(1),
table thead tr th:nth-of-type(2) {
  text-align: left;
}

table tbody tr:hover th,
table tbody tr:hover td {
  background-color: rgba(0,0,0,0.5);
}

table thead {
  font-size: 0.8rem;
}

table thead tr th {
  background-color: rgb(33,33,33, 0.5);
  color: rgba(255,255,255,0.90);
  font-weight: 100;
  padding-top: 1rem;
}

table tbody {
  font-size: 0.9rem;
}

table tbody tr th,
table tbody tr td {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  font-weight: 100;
  vertical-align: baseline;
}

table tbody tr th {

}

table tbody tr td {

}

table tbody tr th.view-link,
table tbody tr td.view-link {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  padding: 0;
}

table tbody tr th.view-link a,
table tbody tr td.view-link a {
  display: flex;
  flex: 1;
  padding: 0.6rem;
}

/**
 * Content Grid & Category List Wrapper
 */
section.content-grid {
  width: 100%;
}

section.content-grid h2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

div.category-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 1rem -0.5rem;
  max-width: 1200px;
  width: 100vw;
  position: relative;
  z-index: 2;
}

ol.category-list,
section.content-grid ol.content-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
  padding: 0;
  margin: 0;
}

ol.category-list li,
section.content-grid ol.content-list li {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
}

ol.category-list li a,
section.content-grid ol.content-list li a {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.34);
  border-radius: 0.5rem;
  background: var(--grid-content-item-bg);
  transition: all 333ms;
  aspect-ratio: 16 / 6;
  text-shadow: var(--text-shadow-other);
  color: #012e39;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

ol.category-list li a {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.34);
  border-radius: 0.25rem;
  background: var(--grid-cat-content-bg);
  transition: all 333ms;
  aspect-ratio: 16 / 6;
  text-shadow: var(--text-shadow-other);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 4px solid;
  backdrop-filter: brightness(0.75) blur(10px);
}

section.content-grid ol.content-list li a {
  background: rgba(0,0,0,1);
  color: #fff;
  border: 1px solid #5ad8ff;
  aspect-ratio: 16/9;
  position: relative;
  margin-bottom: 4rem;
  color: rgb(255,255,255,0.5);
}

ol.category-list li a:hover {
  color: var(--foreground-color-alt);
}

section.content-grid ol.content-list li a:hover {
  background-color: rgb(186 218 255 / 47%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.34);
}

ol.category-list li a span,
section.content-grid ol.content-list li a span {
  font-size: 0.8rem;
  font-weight: 100;
}

ol.category-list li a span {
  color: rgba(255,255,255,0.5);
}

section.content-grid div.item-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  font-size: 1.1rem;
  padding: 0.5rem 0.35rem 0;
  line-height: 1.5rem;
  color: rgba(255,255,255,0.75);
}

section.content-grid ol.content-list li a:hover {
  color: rgba(255,255,255,0.9);
}

section.content-grid ol.content-list li a:hover div.item-info {
  color: rgba(255,255,255,1);
}

section.content-grid div.item-info > div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

section.content-grid div.item-info {

}

@media only screen and (min-width: 800px) {
  section.content-grid {
    max-width: var(--desktop-content-max-width);
    width: var(--desktop-content-width);
  }
  
  ol.category-list,
  section.content-grid ol.content-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  ol.category-list li,
  section.content-grid ol.content-list li {
    max-width: 25%;
    width: 25%;
  }

  ol.category-list li a,
  section.content-grid ol.content-list li a {
    margin: 1rem;
  }

  section.content-grid ol.content-list li a {
    margin: 1rem 1rem 4rem;
  }

  div.category-list-wrapper,
  section.content-grid div.content-list-wrapper {
    margin: 2rem -0.5rem;
  }

  #SearchInputContainer {
    width: 30vw;
    min-width: 25rem;
    padding: 1rem;
  }
}